html{box-sizing:border-box;}
* , *:before , *:after{box-sizing:inherit;}


body {
	margin:0;
	background-color:#ffffff;
}

.clock {
	display:flex;
	justify-content:center;
}

#timer {
	color:#eeeeee;
	font-family: 'Inconsolata', monospace;
	font-size:70px;
	font-weight:bold;
	text-align:center;
	padding:0;
	margin:0;

	position:relative;
	top:300px;

}

#timeOfDay {
	color:#eeeeee;
	font-family: 'Arimo', sans-serif;
	font-size:30px;
	line-height:100%;
	font-weight:normal;
	text-align:center;
	font-variant:small-caps;
	padding:0;
	margin-left:3px;

	position:relative;
	top:305px;

}

#calender {
	color:#eeeeee;
	width:315px;
	font-family: 'Arimo', sans-serif;
	font-weight:lighter;
	text-transform:uppercase;
	text-align:center;
	margin:auto;
	
	border-bottom:2px solid rgba(220 , 220 , 220 , 0.5);

	position:relative;
	top:215px;


}





